body {
  font-family: "TT Lakes Regular", sans-serif;
  background-color: rgba(248, 248, 248, 1);
}

body,
header,
p,
div,
h1,
a {
  padding: 0;
  margin: 0;
}

main {
  background-color: #F8F8F8;
}

header {
  background-color: #FFFFFF;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("TTLakes/TTLakes-Bold.woff") format("woff"),
    url("TTLakes/TTLakes-Bold.ttf") format("ttf"),
    url("TTLakes/TTLakes-Bold.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("TTLakes/TTLakes-Medium.eot") format("eot"),
    url("TTLakes/TTLakes-Medium.ttf") format("ttf"),
    url("TTLakes/TTLakes-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("TTLakes/TTLakes-Regular.eot") format("eot"),
    url("TTLakes/TTLakes-Regular.ttf") format("ttf"),
    url("TTLakes/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.toplist {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #d9fff5;
}

.toplist__burger {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  background-image: url(images/ic/burger.svg);
  background-repeat: no-repeat;
  padding-right: 40px;
  padding-bottom: 40px;
  order: 1;
  margin: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.toplist__checkstatus {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  background-image: url(images/ic/checkstatus.svg);
  background-repeat: no-repeat;
  padding-right: 40px;
  padding-bottom: 40px;
  order: 5;
  margin: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.toplist__divider {
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: rgba(234, 234, 234, 1);
  padding-right: 2px;
  padding-bottom: 32px;
  order: 3;
  margin: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.toplist__group {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  background-image: url(images/ic/Group.svg);
  background-repeat: no-repeat;
  padding-right: 96.55px;
  padding-bottom: 50.81px;
  order: 2;
  margin: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.toplist__repair {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  background-image: url(images/ic/repair.svg);
  background-repeat: no-repeat;
  padding-right: 40px;
  padding-bottom: 40px;
  order: 4;
  margin-top: 18px;
  margin-bottom: 18px;
}

.toplist__call {
  display: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  background-image: url(images/ic/call.svg);
  background-repeat: no-repeat;
  padding-right: 40px;
  padding-bottom: 40px;
  order: 4;
  margin-top: 18px;
  margin-bottom: 18px;
}

.toplist__chat {
  display: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  background-image: url(images/ic/chat.svg);
  background-repeat: no-repeat;
  padding-right: 40px;
  padding-bottom: 40px;
  order: 4;
  margin-top: 18px;
  margin-bottom: 18px;
}

.toplist__profile {
  display: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  background-image: url(images/ic/profile.svg);
  background-repeat: no-repeat;
  padding-right: 40px;
  padding-bottom: 40px;
  order: 4;
  margin-top: 18px;
  margin-bottom: 18px;
}

.toplist__divider-two {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: rgba(234, 234, 234, 1);
  padding-right: 2px;
  padding-bottom: 32px;
  order: 3;
  margin: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

/* Рамка наоборот?? */

.title__strip {
  font-family: "TT Lakes Bold";
  font-size: 24px;
  padding-left: 16px;
  padding-top: 24px;
  position: relative;
  margin-bottom: 24px;
}

.title__strip::before {
  content: "";
  position: absolute;
  border-right: 4px solid rgba(65, 246, 215, 1);
  border-radius: 5px;
  width: 4px;
  height: 40px;
  top: 20px;
  left: -4px;
}

.side-menu {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  margin: 0;
  margin-left: 16px;
  padding: 2px;
  margin-bottom: 8px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  max-height: 40px;
  overflow: auto;
}

.side-menu__links-style {
  outline: none;
  color: inherit;
  text-decoration: none;
  padding: 7px;
  padding-right: 16px;
}

.side-menu__links-style:focus,
.side-menu__links-style:hover {
  margin: -2px;
  border: 2px solid rgba(184, 255, 236, 1);
  border-radius: 6px;
}

.first-block {
  font-size: 14px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.first-block_image > :first-child {
  flex: 1;
  width: 288px;
  height: 90px;
  overflow: hidden;
}

.first-block_read-more {
  outline: none;
  color: inherit;
  text-decoration: none;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 32px;
}

.first-block_read-more::before {
    content: url(images/ic/icon.svg);
    position: absolute;
    width: 4px;
    height: 4px;
    margin-left: -15px;
}

.first-block_image > :first-child {
  width: 320px;
  height: 176px;
  padding-top: 16px;
}

.first-block_visible-from-768px {
  display: none;
}

@media (min-width: 768px) and (max-width: 1119px){

  .toplist {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toplist__burger{
    order: 1;
    margin-left: 24px;
  }

  .toplist__divider {
    order: 2;
    margin-left: 20px;
  }

  .toplist__group {
    order: 3;
    margin-left: 20px;
    margin-right: 31%;
  }

  .toplist__call {
    display: block;
    order: 4;
    margin-right: 16px;
  }

  .toplist__chat {
    display: block;
    order: 5;
    margin-right: 16px;
  }

  .toplist__profile {
    display: block;
    order: 6;
    margin-right: 10px;
  }

  .toplist__divider-two {
    display: block;
    order: 7;
    margin-right: 20px;
  }

  .toplist__repair{
    order: 8;
    margin-right: 16px;
  }

  .toplist__checkstatus {
    order: 9;
    margin-right: 16px;
  }
  .first-block_visible-from-768px {
    display: block;
  }

  .first-block {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    max-height: 208px;
  }

  .first-block_text {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 312px;
    max-height: 160px;
    overflow: hidden;
  }
  
  .first-block_image > :first-child {
    flex: 1;
    width: 380px;
    height: 208px;
    border-radius: 20px;
  }
}

@media (min-width: 1120px) {
  
}