body {
  font-family: "TT Lakes Regular", sans-serif;
  background-color: rgba(248, 248, 248, 1);
  box-sizing: border-box;
  margin: auto;
}
body,
header,
p,
div,
h1,
a {
  padding: 0;
}

main {
  background-color: #f8f8f8;
  max-width: 1120px;
}

header {
  background-color: #ffffff;
  max-width: 1120px;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("TTLakes/TTLakes-Bold.woff") format("woff"),
    url("TTLakes/TTLakes-Bold.ttf") format("ttf"),
    url("TTLakes/TTLakes-Bold.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("TTLakes/TTLakes-Medium.eot") format("eot"),
    url("TTLakes/TTLakes-Medium.ttf") format("ttf"),
    url("TTLakes/TTLakes-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("TTLakes/TTLakes-Regular.eot") format("eot"),
    url("TTLakes/TTLakes-Regular.ttf") format("ttf"),
    url("TTLakes/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.toplist {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #d9fff5;
}

.styles-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  padding-right: 40px;
  padding-bottom: 40px;
  margin: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.toplist__burger {
  background-image: url(images/ic/burger.svg);
  background-repeat: no-repeat;
  order: 1;
}

.toplist__checkstatus {
  background-image: url(images/ic/checkstatus.svg);
  background-repeat: no-repeat;
  order: 5;
}

.toplist__divider {
  order: 3;
}

.toplist__group {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  background-image: url(images/ic/Group.svg);
  background-repeat: no-repeat;
  padding-right: 96px;
  padding-bottom: 52px;
  order: 2;
  margin: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.toplist__repair {
  background-image: url(images/ic/repair.svg);
  background-repeat: no-repeat;
  order: 4;
}

.toplist__call {
  display: none;
  background-image: url(images/ic/call.svg);
  background-repeat: no-repeat;
  order: 4;
}

.toplist__chat {
  display: none;
  background-image: url(images/ic/chat.svg);
  background-repeat: no-repeat;
  order: 4;
}

.toplist__profile {
  display: none;
  background-image: url(images/ic/profile.svg);
  background-repeat: no-repeat;
  order: 4;
}

.toplist__divider-two {
  display: none;
  order: 3;
}

.divider {
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: rgba(234, 234, 234, 1);
  padding-right: 2px;
  padding-bottom: 32px;
  margin: 10px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.title__strip {
  font-family: "TT Lakes Bold";
  font-size: 24px;
  padding-left: 16px;
  padding-top: 24px;
  position: relative;
  margin-bottom: 24px;
}

.title__strip::before {
  content: "";
  position: absolute;
  border-right: 4px solid rgba(65, 246, 215, 1);
  border-radius: 5px;
  width: 4px;
  height: 40px;
  top: 20px;
  left: -4px;
}

.side-menu {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  margin: 0;
  margin-left: 16px;
  padding: 2px;
  margin-bottom: 8px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  max-height: 40px;
  overflow: auto;
  color: #7e7e82;
}

.side-menu__links-style {
  outline: none;
  color: inherit;
  text-decoration: none;
  padding: 7px;
  padding-right: 16px;
}

.side-menu__links-style:focus,
.side-menu__links-style:hover {
  margin: -2px;
  border: 2px solid rgba(184, 255, 236, 1);
  border-radius: 6px;
}

.first-block {
  font-size: 14px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.first-block_image {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
}

.first-block_image > :first-child {
  flex: 1;
  overflow: hidden;
}

.first-block_text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.first-block_text_size-limit {
  height: 90px;
  overflow: hidden;
}

.first-block_read-more {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: inherit;
  text-decoration: none;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 32px;
}

.first-block_read-more::before {
  content: url(images/ic/icon.svg);
  position: absolute;
  width: 4px;
  height: 4px;
  margin-left: -15px;
}

.first-block_image > :first-child {
  flex-grow: 1;
}

.title__nav {
  display: none;
}

@media (min-width: 768px) and (max-width: 1119px) {
  .toplist {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toplist__burger {
    order: 1;
    margin-left: 24px;
  }

  .toplist__divider {
    order: 2;
    margin-left: 20px;
  }

  .toplist__group {
    order: 3;
    margin-left: 20px;
    margin-right: 24%;
  }

  .toplist__call {
    display: block;
    order: 4;
    margin-right: 16px;
  }

  .toplist__chat {
    display: block;
    order: 5;
    margin-right: 16px;
  }

  .toplist__profile {
    display: block;
    order: 6;
    margin-right: 10px;
  }

  .toplist__divider-two {
    display: block;
    order: 7;
    margin-right: 20px;
  }

  .toplist__repair {
    order: 8;
    margin-right: 16px;
  }

  .toplist__checkstatus {
    order: 9;
    margin-right: 16px;
  }

  .first-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 25px;
    padding-bottom: 40px;
  }

  .first-block_text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 50%;
  }

  .first-block_image {
    max-width: 50%;
  }

  .first-block_read-more {
    flex: auto;
    max-width: 50%;
  }

  .first-block_image > :first-child {
    border-radius: 10px;
    margin-left: 5%;
    padding-top: 0px;
  }
}

@media (min-width: 1120px) {
  .toplist {
    display: none;
  }

  .title {
    display: flex;
    flex-direction: row;
    margin-top: 42px;
    margin-right: 25px;
  }

  .title__nav {
    display: block;
    display: flex;
    flex-direction: row;
    margin-left: 46%;
  }

  .button-stile1 {
    align-items: center;
    display: flex;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    font: inherit;
    text-align: inherit;
  }

  .text {
    padding: 8px;
  }

  .leave-a-request {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    padding-right: 50px;
    display: inline-block;
    background-image: url(images/ic/checkstatus.svg);
    background-repeat: no-repeat;
    padding-right: 40px;
    padding-bottom: 40px;
  }

  .repair-status {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    padding-right: 50px;
    display: inline-block;
    background-image: url(images/ic/repair.svg);
    background-repeat: no-repeat;
    padding-right: 40px;
    padding-bottom: 40px;
  }

  .side-menu {
    display: flex;
    flex-wrap: wrap;
    width: 1063px;
    max-height: 82px;
  }

  .first-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1120px;
    max-height: 400px;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 25px;
    padding-bottom: 40px;
  }

  .first-block_text {
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 200px;
    overflow: hidden;
  }

  .first-block_text_size-limit {
    width: 490px;
    height: 160px;
  }

  .first-block_image > :first-child {
    width: 531px;
    height: 307px;
    border-radius: 10px;
    margin-left: 48px;
    padding-top: 0px;
  }
}
